<form id='new-blog'>
    <label>Enter Blog Name</label>
    <input type="text" class="form-control" id='blog-name' placeholder="Type blog name">
    <label>Enter Content</label>
    <input type="text" class="form-control" id='blog-content' placeholder="Type content">
    <button type="submit" class="newBlog btn btn-primary">New Blog</button>
</form> >
<script src="/js/newBlog.js"></script>