<main>
    <div class="col-md-8">
        <div class="container">
            <div class='row'>
                <form id='new-blog'>
                    <label>Enter Blog Name</label>
                    <input type="text" class="form-control" id='blog-name' placeholder="Type blog name">
                    <label>Enter Content</label>
                    <input type="text" class="form-control" id='blog-content' placeholder="Type content">
                    <button type="submit" class="newBlog btn btn-primary">Post Blog</button>
                </form> >
            </div>
        </div>
    </div>
</main>
<script src="js/addBlog.js"></script>