 * {
     font-family: Arial, Helvetica, sans-serif;
 }
  
ader{
    max-height: 10%;

}
  
  nav ul {
    list-style-type: none;
 
  } 
  nav  {
    float: right;
}

  nav ul li { 
    display: inline;
    margin-left: 20px;
    list-style-type: none;
    color: black ;
  }
.container {
    display:inline-block;
    flex-wrap: wrap;
    background-color: lightgrey;
  }
/* 


.sidebar {
    display:inline-block
  }
  .card {
    text-align: center; 
    border-style: solid;
    border-width: .2rem;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 80%;
} */
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
}

